{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1>Teste Django e Celery no Docker com Redis</h1>
    <p>
      <a href="{% url 'core:run_task' %}">
        <button class="btn btn-primary btn-lg" type="button">
          Clique aqui
        </button>
      </a>
    </p>
  </div>
</div>

<div class="text-center mt-5 pt-5">
    <h1>Task Results</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Task ID</th>
          <th>Task Name</th>
          <th>Completed Datetime</th>
          <th>Task State</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            <td>{{ object.task_id }}</td>
            <td>{{ object.task_name }}</td>
            <td>{{ object.date_done }}</td>
            <td>{{ object.status }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock content %}

{% block js %}

  <script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var my_key = '{{ my_key }}'
    var pusher = new Pusher(my_key, {
      cluster: 'mt1',
      forceTLS: true
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
      alert(JSON.stringify(data));
    });
  </script>

{% endblock js %}